{%extends "app/base.html" %}
{% load static  %}

{% block main %}
<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src=" {% static 'app/assets/img/about.jpg'%} " alt="..." /> 
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Strong Coffee, Strong Roots</span>
                            <span class="section-heading-lower"> mi nombre es Federico Ivan Shaieb!</span>
                        </h2>
                        <p>¡Hola! Soy un apasionado de la tecnología y el aprendizaje continuo. Actualmente estoy desarrollándome en el mundo de la programación y los datos, cursando dos carreras que me complementan: Científico de Datos en Coderhouse y Analista en Sistemas en la Universidad Nacional de José C. Paz (UNPAZ). Estas áreas me permiten explorar mi interés por resolver problemas, analizar información y construir soluciones tecnológicas innovadoras.

                            En mi tiempo libre, disfruto jugando al League of Legends, un juego que me desafía estratégicamente y me divierte con sus dinámicas de equipo. Además, soy un gran amante del fútbol y un fanático incondicional de River Plate, lo que me ha enseñado la importancia de la pasión y la perseverancia.
                            
                            Mi curiosidad y dedicación me motivan a crecer día a día, combinando mis hobbies y mis estudios para convertirme en un profesional completo en el mundo de la tecnología.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main %}
